.ui.secondary.pointing.menu .item {
  font-size: 23px;
}

.ui.secondary.pointing.menu .item:hover {
  color: gray !important;
}

.ui.secondary.pointing.menu .active.item {
  color: black !important;
}

.ui.modal>.header:not(.ui) {
  font-family: 'Comic Sans MS';
}

.ui.menu {
  font-family: 'Comic Sans MS';
}

.ui.input input {
  text-align: center;
}

.ui.header {
  font-family: 'Comic Sans MS';
}

.ui.button {
  color: black;
  font-family: 'Comic Sans MS';
  font-size: 21px !important;
  cursor: pointer;
  padding: 15px 15px;
  width: 100px;
  float: left;
}

.ui.form .field > label {
  font-size: 28px;
  font-weight: unset;
  margin: unset;
  display: unset;
}

.ui.modal > .content {
  position: fixed;
  overflow-y:scroll;
  height: 100%;
}

.text--modal {
  font-size: 25px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 40px;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  top: 0 !important;
  height: 100% !important;
  left: 50% !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

.ui.modal > .header {
  display: flex;
  justify-content: center;
}

.ui.dropdown {
  width: 0px;
}

.ui.dropdown .menu {
  width: 100px;
}