.ui.secondary.pointing.menu .item {
  font-size: 23px;
}

.ui.secondary.pointing.menu .item:hover {
  color: gray !important;
}

.ui.secondary.pointing.menu .active.item {
  color: black !important;
}

.ui.modal>.header:not(.ui) {
  font-family: 'Comic Sans MS';
}

.ui.menu {
  font-family: 'Comic Sans MS';
}

.ui.input input {
  text-align: center;
}

.ui.header {
  font-family: 'Comic Sans MS';
}

.ui.button {
  color: black;
  font-family: 'Comic Sans MS';
  font-size: 21px !important;
  cursor: pointer;
  padding: 15px 15px;
  width: 100px;
  float: left;
}

.ui.form .field>label {
  font-size: 28px;
  font-weight: unset;
  margin: unset;
  display: unset;
}

.ui.modal {
  position: absolute;
  top: 15%;
}

.ui.modal > .header {
  display: flex;
  justify-content: center;
}

.ui.dropdown {
  width: 0px;
}

.ui.dropdown .menu {
  width: 100px;
}